body,html {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 32px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Main Container Div */

.main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    width: 100%;
}

.navbar-content {
    width: 80%;
}

.navbar-title {
    font-size: 38px;
    font-weight: bold;
}

.add-new-book-btn {
    color: #64b1ff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 32px;
}

.add-new-book-btn:hover {
    background-color: #acf4ff;
}


/* BookShelf */

#bookshelf {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;

}

    /* bookDiv */

p {
    margin: 0;
}

.bookDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    height: 300px;
    width: 280px;
    justify-content: space-between;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 4px;
    padding: 15px 20px 20px;
}

.bookDiv>p:nth-child(1) {
    background-color: #ffffff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 5px 10px;
}

.title-span {
    font-size: 28px;
    font-weight: bold;
}

.btn-div {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-div>button {
    font-size: 24px;
}

.remove-btn {
    border-radius: 5px;
    background-color: #f9ffff;
    -webkit-filter: brightness(100%);
}

.remove-btn, .read-btn {
    width: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -webkit-filter: brightness(100%);
}

.read {
    background-color: rgb(221, 255, 170);
    cursor: pointer;
    border-radius: 5px;
}

.not-read {
    background-color: rgb(255, 216, 216);
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover, .read-btn:hover {
    -webkit-filter: brightness(98%);
}


/* Form Container */

.form-container {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

.add-book-popup {
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 325px;
    width: 300px;
    padding: 20px 15px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

input {
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

#author {
    margin: 10px 0;
}

input, input::placeholder {
    font-size: .8rem;
    border-radius: 5px;
    border-style: none;
    line-height: 1.5;
    width: 95%;
}

.checkbox-container {
    font-size: 22px;
}

.checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#checkbox {
    height: 15px;
    width: 15px;
    background-color: #eee;
}

#new-book-submit-btn {
    border: none;
    border-radius: 5px;
    background-color: #5aecff;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    font-size: 24px;
    width: 100%;
}

#new-book-submit-btn:hover {
    background-color: #1fe5ff;
}


/* Overlay */

#overlay {
position: fixed; 
  visibility: hidden; 
  width: 100%; 
  height: 100%; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(135, 135, 135, 0.5); 
  z-index: 1; 
  cursor: pointer; 
}


/* Footer */

.footer-text {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    width: 100%;
} 

div.footer-text>p {
    margin: 0;
    font-size: 20px;
    padding-bottom: 20px;
}

.github-img {
    height: 18px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:#5aecff;
}


@media only screen and (max-width: 1500px) {
    
    .add-book-popup {
        height: 345px;
        width: 300px;
        padding: 10px 30px 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .form-inputs {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}